---
---

@import "{{ site.theme }}";

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

html {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: $base03;
  color: $base0;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}

div{
  box-sizing: border-box;
}

div.container-lg {
  margin-left: auto;
  margin-right: auto;
  max-width: 1012px;
}

div.markdown-body {
  font-family: monospace;
  font-size: 16px;
  word-wrap: break-word;
}

div.my-5 {
  margin-bottom: 32px !important;
  margin-top: 32px !important;
}

div.px-3 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
